<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="name">Назва лота</label>
        {{ form.name(class="form-control", id="name") }}
    </div>
    <div class="form-group">
        <label for="description">Опис</label>
        {{ form.description(class="form-control", id="description") }}
    </div>
    <div class="form-group">
        <label for="starting_price">Початкова ціна</label>
        {{ form.starting_price(class="form-control", id="starting_price") }}
    </div>
    <div class="form-group">
        <label for="image_url">Посилання на зображення</label>
        {{ form.image_url(class="form-control", id="image_url") }}
    </div>
    <button type="submit" class="btn btn-primary">Додати лот</button>
</form>
